<library path="src">
  <class name="madrob_settings_gui" type="madrob_settings_gui.madrob_settings_gui.madrob_settings_gui"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to ...
    </description>
    <qtgui>
      <group>
        <label>New Group</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to...</statustip>
      </group>
      <label>RQT Plugin madrob_settings_gui</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to ...</statustip>
    </qtgui>
  </class>
</library>
